@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - Foodies</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

    <div class="navbar">
        <div>
            <img src="foodies.png" alt="Foodies Logo" class="logo">
        </div>
        <div class="nav-links">
            <a href="#">Home</a>
            <a href="#">Services</a>
            <a href="#">About us</a>
        </div>
    </div>

    <div class="content">
        <div class="login-form">
            <h1>@ViewData["Title"]</h1>
            <p>Enter your credentials to access your account</p>

            <form id="account" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                <div class="input-group mb-3">
                    <label asp-for="Input.Email" class="form-label">Email</label>
                    <input asp-for="Input.Email" class="form-control" id="email" required placeholder="name@example.com" autocomplete="username" aria-required="true" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>

                <div class="input-group mb-3">
                    <label asp-for="Input.Password" class="form-label">Password</label>
                    <input asp-for="Input.Password" class="form-control" id="password" required placeholder="password" autocomplete="current-password" aria-required="true" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>

                <div class="checkbox mb-3">
                    <label asp-for="Input.RememberMe" class="form-label">
                        <input class="form-check-input" asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>

                <button type="submit" class="btn">Log in</button>
            </form>

            <div class="redirect-signup">
                <p>Forgot your password? <a id="forgot-password" asp-page="./ForgotPassword">Reset it here</a></p>
                <p>Don't have an account? <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Sign up here</a></p>
                <p><a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a></p>
            </div>
        </div>
    </div>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }

</body>
</html>
