@model List<MenuItem>

<h2>Your Cart</h2>

@if(Model != null){
    @foreach (var item in Model)
    {
    if(item != null)
    {
                <div class="cart-item">
            @* <img src="@item.img" alt="@item.Name"> *@
                    <div class="cart-details">
                        <h4>@item.Name</h4>
                        <p>Price: @item.Price LE</p>
                    </div>
        </div>

    }
    else
    {
        <p>no cartoleto</p>
    }

    }
}
else
{
                <p>no model cartoleto</p>

}


