@model Admin
<h3>Your Branches</h3>
<br /><br /><br /><br /><br />
<form method="post" asp-action="SaveBranch">

     <div class="mb-3">
        <label class="form-label">Email</label>
        <input type="text" name="Email" class="form-control" required />
    </div>
     <div class="mb-3">
        <label class="form-label">FirstName</label>
        <input type="text" name="FirstName" class="form-control" required />
    </div>
     <div class="mb-3">
        <label class="form-label">LastName</label>
        <input type="text" name="LastName" class="form-control" required />
    </div>
 <div class="mb-3">
        <label class="form-label">phoneNumber</label>
        <input type="text" name="phoneNumber" class="form-control" required />
    </div>
     <div class="mb-3">
        <label class="form-label">OpeningHour</label>
        <input type="text" name="OpeningHour" class="form-control" required />
    </div>
     <div class="mb-3">
        <label class="form-label">ClosingHour</label>
        <input type="text" name="ClosingHour" class="form-control" required />
    </div>
    <div class="mb-3">
        <label class="form-label">pass</label>
        <input type="password" name="Password" class="form-control" required />
    </div>
    <div class="mb-3">
        <label class="form-label">confirm</label>
        <input type="password" name="Password" class="form-control" required />
    </div>

    <div class="mb-3">
        <label>Street:</label>
        <input type="text" name="Street"class="form-control" />
    </div>

    <div class="mb-3">
        <label>Building:</label>
        <input type="text" name="Building" class="form-control"/>
    </div>

    <div class="mb-3">
        <label>Location:</label>
        <input type="text" name="Location" class="form-control"/>
    </div>
    <div class="mb-3">
        <label>Map Location View:</label>
        <input type="text" name="viewMap" class="form-control"/>
    </div>
        <input type="hidden" name="restaurantId" value="@ViewBag.RestId" />

     <div class="mb-3">
        <label class="form-label">City</label>
        <input type="text" name="City" class="form-control" required />



        <input type="submit" value="Add" class="btn btn-secondary" />
    </div>



</form>
