
.content {
    display: flex;
    flex-direction: column; 
    height: 100vh; 
}

.btn, .btn-second  {
    
    border: none;
    cursor: pointer;
    border-radius: 30px;
    font-family: Inter, apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Fira Sans", Roboto, Oxygen, Ubuntu, "Droid Sans", Arial, sans-serif;
    font-weight: bold;
    
}
.btn-second {
    background-color: #2ebfa5;
    color: white;
    padding: 10px 30px;
}
.btn {
    
    background-color: #d35269;
    color: white;
    padding: 15px 60px;
}
    .btn:hover, .btn-second:hover {
        background-color: black; /* Darker shade of blue for hover */
        color: #d35269;
        font-weight: bold;
    }

}
