/* Basic Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/*body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fafffe;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    flex-direction: column;
}*/
html, body {
    font-family: Arial, sans-serif;
    background-color: #048a81;
    background-image: url('/images/FoodiesBanner5.png'); /* Replace with the actual path to your image */
    background-size: cover; /* Ensures the image covers the whole page */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */

    display: flex;
    flex-direction: column;
    height: 100vh;
}

.navbar {
    position: fixed; /* Make it stick to the top */
    top: 0;
    width: 100%;
    padding: 15px 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)) !important;
    /* Gradient from transparent to a soft green */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important; /* Horizontal offset, vertical offset, blur radius, spread radius, shadow color */
}


.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 40px;
    font-size: 16px;
}

.navbar a:hover {
    color: #D35269;
}
.logo {
    right: 20px;
    width: auto;
    height: 50px;
}

