* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Fira Sans", Roboto, Oxygen, Ubuntu, "Droid Sans", Arial, sans-serif;
}


html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin: 0;
    /*margin-bottom: 60px;*/
    font-family: Arial, sans-serif;
    background-color: #fafffe;
}


:root {
    --primary-color: #D35269;
    --black: #1e1e24;
    --secondary-color: #048a81;
    --teirtary-color: #2ebfa5;
    --white: #e7ecef;
}
<<<<<<< Updated upstream

=======
>>>>>>> Stashed changes
