<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/Main.css" asp-append-version="true"/>

    <title>Login & Sign Up</title>
</head>
<body>

        <div class="content">
        <h1>Welcome to Foodies</h1>
        <p>Please log in or sign up to continue</p>
        <div class="button-container">
        <a href="/Master/CustomerLogIn" class="btn btn-secondary">Login</a>
        <a href="/Master/UserSignUp" class="btn btn-secondary">Sign Up</a>
        </div>
    </div>

</body>
</html>

<style>
/* Basic Styles */
* {
    margin: 0;
}

/* Media Queries */
    media screen and (max-width: 768px) {
    .content {
        margin: 100px 20px;
        font-size: 24px;
    }

    .navbar a {
        margin: 0 20px;
    }
}
</style>
