{
    @Layout = null
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- stylesheet -->
     <link rel="stylesheet" href="~/css/Main.css" asp-append-version="true">  

    <title>White Navbar with Shadow</title>
    <div class="navbar">
        <div>
            @* <img src="/images/foodies.png" alt="Foodies Logo" class="logo"> *@
        </div>
        <div class="nav-links">
            <a href="~/Master/view">Home</a>
            <a href="~/cart/cart">🛒 Cart</a>
            <a href="#">About us</a>
        </div>
    </div>
</head>
<body>
    
    <!-- Content with centered button -->
    <div class="content">
        <img src="/images/text.png" alt="Foodies Logo" class="img"> 
        <a href="/Master/UserSignUp"><button class="btn">START</button></a>
        <div class="rounded-rectangle">
            <p>Own a Restaurant ?  
                
                </p> 
                <a href="/Master/AdminSignUp"><button class="btn-second">Join Us Now</button></a>
        </div>

    </div>


    <div class="logo">
        <!-- <img src="/images/food.png" alt="Foodies Logo" class="food"> -->
    </div>

</body>
</html>

<style>
/* Basic Styles */
.img {
    width: 50%;
    height: auto;
    margin-top: 200px ;
    margin-left: 360px ;

}
.btn{
    margin-top: 20px;
    margin-left: 605px;
    font-size: 18px;

}
.btn-second{
   font-size: 13px;

}
p{
    margin-top: 5px ;
    font-size: 17px;
    font-weight: bold;
    font-family: Inter, apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Fira Sans", Roboto, Oxygen, Ubuntu, "Droid Sans", Arial, sans-serif;
    margin-right: 16px;
}
 
.rounded-rectangle {
    flex-direction: row; 
    display: flex;
    border: 2px solid #ccc; /* Border color */
    border-radius: 19px; /* Rounded corners */
    padding: 0px 9px;
    padding-top: 10px;
    background-color: #f9f9f9; /* Background color */
    text-align: center; /* Center the text */
    max-width: 700px; /* Maximum width */
    justify-content: space-between; /* Align items beside each other */
    margin: 20px auto; /* Center the rectangle horizontally */
}
</style>
