<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    @* stylesheet *@
     <link rel="stylesheet" href="~/css/Main.css" asp-append-version="true"> 


    <title>White Navbar with Shadow</title>
</head>
<body>

    <!-- Content to demonstrate fixed navbar -->
    <div class="content">
        <h1>Foodies</h1>
        <p>A Creative way to choose your Food</p>
        <div>
         @* <a href="/Master/Cusolginsignup" class="btn btn-secondary">Customer</a> *@
         @* <a href="/Master/Ressolginsignup" class="btn">Restaurant Owner</a>
         <button >Customer</button> *@
         <a href="/Master/Cusolginsignup"><button class="btn" >Customer</button></a>
         <a href="/Master/Ressolginsignup"><button class="btn btn-secondary">Owner</button></a>

        
        </div>
    </div>

    <div class="logo">
        <img src="/images/food.png" alt="Foodies Logo" class="food">
    </div>

</body>
</html>

<style>
/* Basic Styles */
* {
    margin: 0;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fafffe;
}

}
/* Media Queries */

</style>a