
<ul class="navbar-nav">

    @* var userId = UserManager.GetUserId(User);
        var user = _customerRepository.GetById(userId); // Fetch user information *@
            <div class="navbar">
                <div>
            @* Optional: Uncomment if you want to display a logo *@
            @* <img src="/images/foodies.png" alt="Foodies Logo" class="logo"> *@
            @* <a href="~/menu/restaurant">Hello, @(user?.FirstName ?? "User")</a> <!-- Greet the user --> *@
                </div>
                <div class="nav-links">
                  @*   <a href="~/menu/restaurant">Home</a>
                    <a href="~/Order/cart">🛒 Cart</a>
                    <a href="~/menu/Favourite">Favourites</a> *@
                    <a href="~/Home/UserView">Profile</a>
                    <a href="~/Master/Logout">Logout</a>
                </div>
            </div>

</ul>
