@model List<Order>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/History.css" />

    <title>Order History</title>
  
</head>

<body>
    
    <div class="main" style="margin-top: 40px">
        <h1>Order History</h1>

        <!-- Order Card 1 -->
        
        @if (Model != null && Model.Any())
        {
            @foreach (var order in Model)
            {
            <div class="order-card">
                    <img src="~/images/logo.png" alt="Order Icon" class="order-icon" style="width:500px; height:auto;">
                    <div class="order-details">
                        <p>Date: @order.OrderDate.ToString("MM/dd/yyyy")</p>
                        <p>Total: @order.TotalPrice.ToString("C")</p>
                        <p>Status: @order.State</p>
                    </div>
                    <div class="order-actions">
                    <div class="order-image">
                    </div>
                    </div>
                </div>
            }
        }
        else
        {
           <p>No orders available.</p>
        }
       

        <!-- Pagination -->
        <div class="pagination">
            <a href="#">Previous</a>
            <a href="#">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">Next</a>
        </div>
    </div>

</body>

</html>
